.DS_Store
/.vscode
*.iml

/dds-http-java/.settings
/dds-http-java/target
/dds-http-java/.classpath
/dds-http-java/.project

/dds-websocket-java/.settings
/dds-websocket-java/target
/dds-websocket-java/.classpath
/dds-websocket-java/.project

/asr-http-java/.settings
/asr-http-java/target
/asr-http-java/.classpath
/asr-http-java/.project

/asr-websocket-java/.settings
/asr-websocket-java/target
/asr-websocket-java/.classpath
/asr-websocket-java/.project

/tts-http-java/.settings
/tts-http-java/target
/tts-http-java/.classpath
/tts-http-java/.project
