.DS_Store
/.vscode
*.iml

/dds-http-java/.idea
/dds-http-java/target
/dds-websocket-java/.idea
/dds-websocket-java/target
/asr-http-java/.idea
/asr-http-java/target
/asr-websocket-java/.idea
/asr-websocket-java/target
/tts-http-java/.idea
/tts-http-java/target
